:root {
    --primary-pink-color: #bf1650;
    --secondary-pink-color: #ec5990;
}

form {
    width: 375px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 3px;
}

form h2 {
    text-align: center;
}

form h5 {
    margin: 10px 0;
    text-align: center;
}

form a {
    color: var(--secondary-pink-color);
}

form a:hover {
    color: var(--primary-pink-color);
}

input, button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    font-size: 14px;
    border-radius: 3px;
    border: 0;
}

/* boton SUBMIT */

.button {
    background-color: var(--primary-pink-color);
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* boton FILE */

/* .custom-file-input{
    color: transparent;
    margin-bottom: -10px;
}
.custom-file-input::-webkit-file-upload-button{
    visibility: hidden;
}
.custom-file-input::before{
    content: 'Selecciona una imagen';
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
}
.custom-file-input:hover::before{
    border-color: #bf1650;
}
.custom-file-input:active{
    outline: 0;
} */

/* validation */

form p {
    color: var(--secondary-pink-color);
    font-size: 12px;
    margin: -10px 0 5px 0;
}

form p::before {
    display: inline;
    content: "⚠ ";
    font-size: 22px;
}

.resValMessage {
    padding: 8px;
    margin: 15px 0 -10px 0;
    font-size: 12px;
    font-style: italic;
    color: var(--secondary-pink-color);
    text-align: center;
}

.resValInput {
    color: var(--secondary-pink-color);
}

.resResetValInput {
    color: #000;
}